button {
  width: 250px;
  height: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  color: black;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  font-size: 2rem;
}

button:hover {
  background-color: rgba(15, 35, 69, 0.158);
}
button:hover {
  color: white;
}

.boton-click {
  background-color: yellow;
}
.boton-reiniciar {
  background-color: yellow;
}
